@layout('layout')

@section('body')
     <div class="container">
          <div> 
               <h1>Créer un toriteny</h1>
          </div>
          @include('component/form')
     </div>
@endsection