@layout('layout')

@section('body')
     <div class="container">
          <div> 
               <h1>Editer une poste {{ toriteny.title }}</h1>
          </div>
          @include('component/form')
     </div>
@endsection